---
services:
  flask-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask-app
    ports:
      - 5000:5000
    environment:
      - FLASK_ENV=development
      - MONGO_URI=mongodb://mongodb:27017/UTA_Enrollment # TODO: this might not be needed
    depends_on:
      - mongodb

  mongodb:
    image: mongo:8.2.2
    container_name: mongodb
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - mongodb:/data/db
    ports:
      - 27017:27017
    restart: unless-stopped

  mongo-seed:
    image: mongo:8.2.2
    container_name: mongo-setup
    links:
      - mongodb
    volumes:
      - ./mongo-setup:/mongo-setup:rw
    command:
      /mongo-setup/mongo-setup.sh

volumes:
  mongodb:
  mongo-setup:
